<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        span {
            display: block;
        }
        h1, h3, span {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        body {
            background: linear-gradient(#A3A5F5, #FFFFFF);
            height: 100vh;
        }
    </style>
</head>
<body>
<h1>Reservation completed</h1>
<span>Thank you for your choice. Our service is getting ready for your visit at:</span>
<span th:text="${reservationStart}"></span>
<span>to:</span>
<span th:text="${reservationEnd}"></span>

<h3>Your unique reservation ID:</h3>
<span th:text="${reservationId}"></span>
</body>
</html>